body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3EDE2;
    color: #333;
}

header {
    background-color: #8A9A7A;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}

.destaques {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #5F4937;
    color: white;
    text-align: center;
    padding: 10px;
}
